<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.bluino.bluinoloader" platformBuildVersionCode="25" platformBuildVersionName="7.1.1">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:resizeable="true" android:smallScreens="true" android:xlargeScreens="true"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <permission android:name="com.bluino.bluinoloader.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.bluino.bluinoloader.permission.C2D_MESSAGE"/>
    <meta-data android:name="android.support.VERSION" android:value="25.3.1"/>
    <application android:allowBackup="true" android:hardwareAccelerated="true" android:icon="@drawable/ic_launcher" android:label="Bluino Loader" android:largeHeap="true" android:name="sharedcode.turboeditor.application.MyApp" android:supportsRtl="true">
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode" android:icon="@drawable/ic_launcher" android:launchMode="singleTop" android:name="com.bluino.bluinoloader.HomeActivity" android:theme="@style/SplashTheme" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"/>
                <data android:mimeType="*/*"/>
                <data android:host="*"/>
                <data android:pathPattern=".*\\.c"/>
                <data android:pathPattern=".*\\.h"/>
                <data android:pathPattern=".*\\.cc"/>
                <data android:pathPattern=".*\\.cpp"/>
                <data android:pathPattern=".*\\.txt"/>
                <data android:pathPattern=".*\\.html"/>
                <data android:pathPattern=".*\\.xml"/>
                <data android:pathPattern=".*\\.css"/>
                <data android:pathPattern=".*\\.js"/>
                <data android:pathPattern=".*\\.md"/>
                <data android:pathPattern=".*\\.markdown"/>
                <data android:pathPattern=".*\\.php"/>
                <data android:pathPattern=".*\\.py"/>
                <data android:pathPattern=".*\\.script"/>
                <data android:pathPattern=".*\\.cs"/>
                <data android:pathPattern=".*\\.java"/>
                <data android:pathPattern=".*\\.rb"/>
                <data android:pathPattern=".*\\.aspx"/>
                <data android:pathPattern=".*\\.cshtml"/>
                <data android:pathPattern=".*\\.vbhtml"/>
                <data android:pathPattern=".*\\.go"/>
                <data android:pathPattern=".*\\.hh"/>
                <data android:pathPattern=".*\\.hpp"/>
                <data android:pathPattern=".*\\.pl"/>
                <data android:pathPattern=".*\\.pm"/>
                <data android:pathPattern=".*\\.t"/>
                <data android:pathPattern=".*\\.pod"/>
                <data android:pathPattern=".*\\.m"/>
                <data android:pathPattern=".*\\.f"/>
                <data android:pathPattern=".*\\.for"/>
                <data android:pathPattern=".*\\.f90"/>
                <data android:pathPattern=".*\\.f95"/>
                <data android:pathPattern=".*\\.asp"/>
                <data android:pathPattern=".*\\.json"/>
                <data android:pathPattern=".*\\.wiki"/>
                <data android:pathPattern=".*\\.lua"/>
                <data android:pathPattern=".*\\.r"/>
                <data android:pathPattern=".*\\.key"/>
                <data android:pathPattern=".*\\.log"/>
                <data android:pathPattern=".*\\.ino"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
                <data android:mimeType="text/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:label="@string/open_a_file" android:name="sharedcode.turboeditor.activity.SelectFileActivity" android:parentActivityName="com.bluino.bluinoloader.HomeActivity" android:theme="@style/AppThemeBaseLight">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".HomeActivity"/>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.OPENABLE"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
        </activity>
        <meta-data android:name="com.sec.android.support.multiwindow" android:value="true"/>
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W" android:value="632.0dip"/>
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H" android:value="598.0dip"/>
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W" android:value="632.0dip"/>
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H" android:value="598.0dip"/>
        <activity android:name="sharedcode.turboeditor.activity.MarkdownActivity"/>
        <activity android:name="sharedcode.turboeditor.activity.DeviceList" android:theme="@style/MyTheme"/>
        <activity android:name="sharedcode.turboeditor.activity.actByteStream" android:theme="@style/MyTheme"/>
        <activity android:name="sharedcode.turboeditor.activity.CanteenIntroActivity" android:theme="@style/Theme.Intro"/>
        <activity android:name="sharedcode.turboeditor.activity.actByteStreamUsb" android:theme="@style/MyTheme" android:windowSoftInputMode="stateHidden"/>
        <service android:enabled="true" android:name="sharedcode.turboeditor.activity.UsbService"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.google.android.gms.ads.AdActivity" android:theme="@android:style/Theme.Translucent"/>
        <activity android:name="com.google.android.gms.ads.purchase.InAppPurchaseActivity" android:theme="@style/Theme.IAPTheme"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <receiver android:enabled="true" android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver" android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="com.bluino.bluinoloader"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.google.firebase.iid.FirebaseInstanceIdInternalReceiver"/>
        <service android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <provider android:authorities="com.bluino.bluinoloader.firebaseinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
    </application>
</manifest>